/*整体布局*/
#course{
    padding: 32px 0;
}

.course-box{
    height: 634px;
}

.course-box .title-pic{
    height: 36px;
}

.course-box .course{
    height: 568px;
    margin-top: 30px;
}

/*标题和分类*/
.course-box .title-pic img{
    width: 162px;
}

.course-box .title-pic a{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.course-box .title-pic a:hover{
    color: #ec1500;
}

.course-box .title-pic .active{
    border-bottom: 2px solid #E76060;
    padding-bottom: 5px;
    font-weight: 700;
    color: #545c63;
}

/*课程列表 开始*/
.course-box .course ul{
    display: none;
    width: 1176px;
    cursor: pointer;
}

.course-box .course ul.current{     /*交集选择器*/
    display: block;
}

.course-box .course li{
    position: relative;
    float: left;
    width: 270px;
    height: 272px;
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    transition: .2s;
}

.course-box .course li img{
    width: 270px;
    border-radius: 8px 8px 0 0;
}

.course-box .course li:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.course-box .course .title{
    margin-left: 10px;
    margin-top: 10px;
    color: #545c63;
}

.course-box .course .difficulty{
    position: absolute;
    left: 10px;
    bottom: 40px;
    font-size: 12px;
}

.course-box .course .price{
    font-size: 12px;
    position: absolute;
    left: 10px;
    bottom: 15px;
    color: #F01414;
    font-weight: 700;
}

